services:
  notion-csv-importer:
    image: treydong/notion-csv-importer:latest
    ports:
      - "80:8000"
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    restart: always
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"